<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="contactform.js">
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
contact
</title>
<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <div class="tab-content">
    <div class="tab-pane active" id="1">
   <div class="container">
   <div class="row">
   <div class="col-md-6 col-lg-6">
    
    <div class="container">
    <div class="panel panel-primary">
    <div class="panel-heading">formulaire de contact et de commande</div>
    <div class="panel-body">
    <form method="get">
      <label type="text">pseudo:</label>
       <input type="text" id="nom" name="nom" placeholder="Votre pseudo" class="form-control"><br /><br />
       <label>Mail:</label>
       <input type="email" id="mail" name="mail" placeholder="Votre mail" class="form-control"><br /><br />
       <label>Message:</label>
       <br /><br />
        <textarea class="form-control comment" name="message" rows="4"></textarea>
        <br /><br />
        <a href="/liste" class="pull-right btn btn-md btn-default" rows="4">liste</a>
    
    <input type="submit" class="pull-right btn btn-md btn-default" rows="4" id="submit" name="submit" value="envoyer Message" />
    
    
    </form>
    
    
    
    </div>
     </div>
    </div>
    
    
    
    
    
    
    
    
</div>
</div>
        </div>
        </div>
    </div>

 
    
 

    </body>
</html>