<!DOCTYPE html>
<html lang="fr">
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width ,initial-scale= 1">
    <link rel="stylesheet" href="style.css" type="text/css">
    
    <title>Alimentation</title>
    <h1><em>House Of Pizza</em></h1>
</head>
<body>
   <header>
      <div class="row">
         <ul class="main-nav">
            <li><a href="">MAISON</a></li>
            <li><a href="">MENU</a></li>
            <li><a href="">COMMANDER</a></li>
            <li><a href="/contact">CONTACTEZ NOUS
</a></li>
             
             
         </ul>
          
      </div>
       <div class="hero">
       <h2><em>ECRASER<br /> VOS ENVIES CHEZ NOUS</em></h2>
       <div class="button-awesome">
       <a href="" class="btn btn-half">show me</a>
       <a href="" class="btn btn-full">I m angry</a>
       </div>
       </div>
       
   </header>
   <section class="futures">
      <h3 class="text-center">Votre pizza préférée,</h3>
      <p class="copy">Au restaurant House Of Pizza, nous proposons des repas d'excellente qualité et vous invitons à goûter nos délicieux plats.

La clé de notre succès est simple: fournir des aliments de qualité constante et de bon goût à chaque fois. Nous sommes fiers de servir à nos clients de délicieux plats authentiques tel que: pizzas

Mangez de la nourriture délicieuse. Prenez un verre. Mais surtout, détendez-vous! Nous vous remercions du fond du cœur pour votre soutien continu.
Pour tout commande contacter-nous svp


      </p>
      <div class="">
          
      </div>
   </section>
   <section class="meal">
       <ul class="meal-showcase">
        <li>
            <figure class="meal-photo">
                <img src="image/04.jpg">
            </figure>
        </li>
          <li>
            <figure class="meal-photo">
                <img src="image/pizza_rhuys_acc.jpg">
            </figure>
        </li> 
          <li>
            <figure class="meal-photo">
                <img src="image/Portofino-1.jpg">
            </figure>
        </li> 
          <li>
            <figure class="meal-photo">
                <img src="image/photo0jpg.jpg">
            </figure>
        </li> 
          <li>
            <figure class="meal-photo">
                <img src="image/imagesroy.jpg">
            </figure>
        </li> 
          <li>
            <figure class="meal-photo">
                <img src="image/depositphotos_184070150-stock-photo-pizza-tomato-sauce-ham-cheese.jpg">
            </figure>
        </li> 
          <li>
            <figure class="meal-photo">
                <img src="image/_absolutely_free_photos_original_photos_delicious-pizza-on-table-2592x1936_97925.jpg">
            </figure>
        </li> 
          <li>
            <figure class="meal-photo">
                <img src="3-pizzas-Super.png">
            </figure>
        </li> 
          
       </ul>
       
   </section>
   
   <footer>
            <div class="copy">
                <div class="copyright">
                   <p>House Of Pizza @ 2019. All rights reserved</p>
                   </div>
                    
            </div>
           </footer>
            
   
   
    </body>
</html>































