<!DOCTYPE html>
<html lang="fr">
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width ,initial-scale= 1">
    <title>Document</title>
    <h1>Liste d'inscription</h1>
</head>
<body>
   <div class="container">
   <div class="row">
   <div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Liste des personnes inscrites</div>
<div class="panel-body">
  
   <div class="col-md-7">
        <div class="row">
         <div class="col-md-2">
         <em><h2>N</h2></em>
       <%nom.forEach(function(result){ %>
        <%=result.id%>
        <br /><br />
       <% }); %>
       </div>
   <div class="col-md-3">
         <em><h2>Nom</h2></em>
       <%nom.forEach(function(result){ %>
        <%=result.pseudo%>
        <br /><br />
       <% }); %>
       </div>
       <div class="col-md-4">
       <em><h2>Email</h2></em>
       <%nom.forEach(function(result){ %>
        <%=result.email%>
        <br /><br />  
      <% }); %>
        </div>
        <div class="col-md-3">
       <em><h2>Message</h2></em>
       <%nom.forEach(function(result){ %>
        <%=result.message%>
        <br /><br />  
      <% }); %>
        </div>
    </div>
    </div>
     <div class="col-md-3">
        <img src="image/images%20pid.jpg">
    </div> 

   </div>
   </div>
       </div>
       </div>
    </div> 
</body>
</html>